/* * {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} */

.container-fluid, html {
    background-color: #41337A;
    font-family: 'Just Another Hand', cursive;
    color: white;
}
p {
    font-family: 'Tajawal', sans-serif;
}
#start_btn {
    font-family: 'Tajawal', sans-serif;
    color: black;
    border-radius: 5px;
    border: none;
    color: black;
    width: 30rem;
    height: 5rem;
    font-size: 5rem;
}
.start_btn {
    color: black;
}
#abt_start_btn {
    color: black;
    border-radius: 5PX;
    border: none;
    font-family: 'tajawal', sans-serif;
    padding: 0.5rem;
}
nav {
    font-family: 'Tajawal', sans-serif;
    padding: 0.5rem;
}
#a-nav:visited, #a-nav:hover, #a-nav:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    color: black;
    font-family: 'Tajawal', sans-serif;
}
#home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#id_username {
    background-color: #ECFEE8;
    width: 13rem;
    border: none;
    border-radius: 2px;
}
#id_password {
    background-color: #ECFEE8;
    width: 13rem;
    border: none;
    border-radius: 2px;   
}
input {
    background-color: #C2EFEB;
    width: 13rem;
    height: 2rem;
    border: none;
    border-radius: 2px;   
}
input:hover {
    background-color: white;
}
#signup_btn{
    background-color: #C2EFEB;
    width: 13rem;
    height: 2rem;
    border: none;
    border-radius: 2px;   
    font-family: 'Tajawal', sans-serif;
}
#signup_btn:hover {
    background-color: #ffffff;
}
#login_text {
    /* margin: 0 auto; */
    font-size: 3rem;
    text-align: center;
}
.login-box {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.stack-box {
    width: 6rem;
    height: 15rem;
    background-color: #ECFEE8;
    color: black;
    margin: 1rem;
    text-align: center;
    padding: 4rem;
    border-radius: 0.5rem;
    font-size: 80px;
}
#choose-stack-txt {
    font-weight: bold;
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-size: 30px;
}
#create-stack{
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-size: 60px;
}
#create-stack:hover {
    transition: 0.2s;
    font-weight: bold;
}
#id_name {
    background-color: #ECFEE8;
    border: none;
    border-radius: 2px;  
    width: 15.5rem;
}

#save-stack {
    background-color: #C2EFEB;
    border: none;
    border-radius: 2px;   
    font-family: 'Tajawal', sans-serif;
    width: 10rem;
    text-align: center;
}
label {
    font-size: 1.25rem;
}
#save-stack:hover {
    font-weight: bold;
}
.h2 {
    font-family: 'Tajawal', sans-serif;
} 
.create-question:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#question {
    color: white;
    font-weight: bold;
    font-size: 100%
}
#question:hover {
    color: black;
    font-weight: bold;
    font-size: 100%;
    transition: 0.2s;
    font-weight: bold;
}
#stack-name {
    font-family: 'Tajawal', sans-serif;
    font-size: 1rem;
}
#id_the_question {
    font-family: 'Tajawal', sans-serif;
    width: 50rem;
    height: 2rem;   
    margin: 1rem;
}
#id_answer {
    font-family: 'Tajawal', sans-serif;
    width: 50rem;
    height: 10rem;  
    margin: 1rem; 
}
#id_stack {
    font-family: 'Tajawal', sans-serif;
    width: 50rem;
    height: 2rem;   
    margin: 1rem;
}
#h2-create-question {
    font-family: 'Tajawal', sans-serif;
}

/* 
a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}
h1 {
    margin-top: 30vh;
    font-size: 100px;
    text-align: center;
    color: white;
    font-family: 'Monoton', cursive;
}
#start_btn {
    margin-top: -40px;
    color: black;
    background-color: #C2EFEB;
    width: 500px;
    height: 70px;
    font-size: 65px;
    border-radius: 5px;
    border: none;
    font-family: 'Tajawal', sans-serif;
   yog
    margin: auto;
    width: 33%;
}
.card {
    background-color: #ECFEE8;
    width: 800px;
    height: 400px;
    margin: auto;
    padding: auto;
    position: relative;
} */

p, h1 {
    text-align: justify;
    text-justify: inter-word;
}
