/* * {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} */

.container-fluid,html {
    background-color: #41337A;
    font-family: 'Rock Salt', cursive;
    color: white;
}
p {
    font-family: 'Tajawal', sans-serif;
}
#start_btn {
    font-family: 'Tajawal', sans-serif;
}
#nav_bar {
    font-family: 'Tajawal', sans-serif;
}
a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    color: black;
}

/* 
a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}
h1 {
    margin-top: 30vh;
    font-size: 100px;
    text-align: center;
    color: white;
    font-family: 'Monoton', cursive;
}
#start_btn {
    margin-top: -40px;
    color: black;
    background-color: #C2EFEB;
    width: 500px;
    height: 70px;
    font-size: 65px;
    border-radius: 5px;
    border: none;
    font-family: 'Tajawal', sans-serif;
   yog
    margin: auto;
    width: 33%;
}
.card {
    background-color: #ECFEE8;
    width: 800px;
    height: 400px;
    margin: auto;
    padding: auto;
    position: relative;
} */
nav {
    float: right;
}
p, h1 {
    text-align: justify;
    text-justify: inter-word;
}
