{% extends "base.html" %}
{% block  body %}
    <h1>About:</h1>
    <p>Doesn’t matter if you’re entering the tech field with a higher education degree, a bootcamp certificate or raw experience, there’s no escaping from the interview process. If it’s a reality, and it MUST be done in order to reach that dream job, it’s best to just get to work.</p>
    <br/>
    <p>The good news is you’ve already walked the walk through schooling (including those self-taught). Now is the time to talk the walk. </p>
    <br />
    <p>This app was designed for the purpose of refreshing your memory for the technical interview in a fun way (and in an attempt to save the flash-card culture). </p>
    <br />
    <button><a href='/login'>START</a></button>
{% endblock %}