{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static "styles/styles.css" %}' />
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Cardo&family=Indie+Flower&family=Macondo&family=Monoton&family=Orelega+One&family=Rock+Salt&family=Stardos+Stencil&family=Tajawal:wght@200&display=swap" rel="stylesheet">
    <script src='{% static "scripts/app.js" %}' defer></script>
    <title>Talk the Walk</title>
</head>
<body>
    {% block body %}
    {% if user.is_authenticated %}
        <span><a href='{% url "../stacks/" %}'>My Stacks</a></span>
        <span><a href='{% url "logout" %}'>Logout</a></span>
        {% else %}
        <span><a href='{% url "login" %}'>Login</a></span>
        <span><a href='{% url "signup" %}'>Signup</a></span>
    {% endif %}
    <a href="/about">About</a>
    {% endblock %}
</body>
</html>