{% extends 'base.html'%}
{% block body %}
<div class="container-fluid">
    <div class="login-box flex row justify-content-center align-self-center" style='background-color: #6EA4BF; padding: 2rem; width: 20rem; height: 25rem; border-radius: 5px;'>
    <div class="flex row justify-content-center">
        <div class="col-sm-6">
    <h1 id='login_text'>Login</h1>
</div>
</div>
<div class="row">
    <div class="col-sm-6">
    <form method='POST' action='.'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Login' style="    font-family: 'Tajawal', sans-serif;" />
    </form>
</div>
</div>
<div class="row flex justify-content-center">
    <div class="col-sm-6">
        <h2 class='flex row justify-content-center' style='text-align: center'>or</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <a href='/signup'> 
            <button id='signup_btn'>Sign Up</button>
        </a>
    </div>
</div>
</div>

</div>
{% endblock %}