{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <br />
    <div class="row">
        <a href='../questions/create'>
            <h2 class='create-question'>Create a new question</h2>
        </a>
    </div>
    <div class="row" id='list_questions_box'>
        
{% for question in questions %}
    <div class='row'>
        <div class="col-sm-6 h4" id='question-box'>
        <a id='question' href="{% url 'questions_show' question.pk %}">
            <div>
                <span>{{ question.the_question }}</span>
            </a>
                |  <span id='stack-name'>{{ question.stack }}</span>
            </div>
        </div>

{% endfor %}
</div>
</div>
{% endblock %}