{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <br />
    <div class="row">
        <a href='../questions/create'>
            <h2 class='create-question'>Create a new question</h2>
        </a>
    </div>
    <br />

{% for question in questions %}
    <div class='row'>
        <div class="col-sm-8 h4">
        <a id='question' href="{% url 'questions_show' question.pk %}">
            <div>
                <span>{{ question.the_question }}</span>
            </a>
                |  <span id='stack-name'>{{ question.stack }}</span>
            </div>
        </div>
    </div>
{% endfor %}

</div>
{% endblock %}