{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
<h3>{{ stack.name }}</h3>
</div>

{% for question in stack.question_set.all %}
    <div>
        <a href="{% url 'questions_show' question.pk %}">
            <div>
                <span id="question-stk">{{ question.the_question }}</span>
                <br />
            </div>
        </a>
{% endfor %}
        <span>Author: {{ stack.user }}</span>
<button id='pass_button'>Pass</button>
<button id='flip_button' onclick="changeCard()">Flip</button>

</div>

{% endblock %}